#MDR_body 
{
    min-width       : 267px;
    height          : 251px;
    overflow-x      : hidden;
    background      : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfecd8));
    font-family     : "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-size       : 14px;
}
#MDR_body label 
{
    font-size       : 0.8em;
    font-weight     : bold;
    margin-right    : 2px;
    line-height     : 22px;

}
#MDR_inputContainer {
    display         : flex;
}
.mdr-date-box-container {
    display         : inline-block;
}
.mdr-date-box 
{
    width           : 82px;
	height			: 16px;
    box-shadow      : inset 1px 1px 7px rgba(0, 0, 0, 0.25);
    border-radius   : 3px;
    border          : 0;
    outline         : 0;
    margin-right    : 3px;
    margin-left     : 3px;
    padding         : 4px 0 4px 10px;
}
#MDR_From.mdr-date-box
{
    margin-right    : 11px;
}
.mdr-date-box:focus, .mdr-date-box-focus
{
    background      : #EEF7D4;
	border			: 1px solid #00BF49;
	width			: 80px;
	height			: 14px;
}
.mdr-date-box.mdr-invalid-input {
    border          : 1px solid red;
}
.mdr-reset-button {
    position        : absolute;
    top             : 7px;
    left            : 112px;
    border          : none;
    font-size       : 15px;
    font-weight     : 800;
    background      : transparent;
    opacity         : 0.3;
    display         : none;
}
#MDR_To+.mdr-reset-button, #MDR_To-gldp+.mdr-reset-button {
    left            : 234px;
}
.mdr-reset-button:hover {
    opacity         : 0.9;
    cursor          : pointer;
}
.mdr-reset-button:focus {
    outline         : none;
}
    
#MDR_Submit 
{
    height          : 47px;
    width           : 106px;    
    display         : block;
    margin          : 60px auto 10px;
    border          : 1px solid #4D4E53;
    border-color    : #CDDCD8 #AEC6C1;
    color           : #fff;
    border-radius   : 3px;
    background      : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f7074), color-stop(50%,#6f7074), color-stop(50%,#4a4b4f), color-stop(75%,#5e5f63));
    cursor          : pointer;
    line-height     : 1em;
    font-size       : 2.7em;
    font-weight     : bold;
}
#MDR_Submit:hover
{
    cursor          : default;
}
#MDR_Submit.mdr-ready {
    background      : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208f57), color-stop(50%,#208f57), color-stop(50%,#006e2f), color-stop(75%,#028447));
}
#MDR_Submit.mdr-ready:hover
{
    background      : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208f57), color-stop(50%,#208f57), color-stop(50%,#006e2f), color-stop(75%,#028447));
    cursor          : pointer;
}
#MDR_body a
{
    color           : inherit;
    cursor          : pointer;
    text-decoration : none;
    transition      : 0.3s;
}
#MDR_body .mdr-error
{
    margin          : 0 13px;
    color           : #bd1a00;
    font-weight     : bold;
    font-size       : 0.85em;
    line-height     : 1.5em;
}
#MDR_footer
{
    color           : #789B86;
    font-size       : 0.7em;
    position        : absolute;
    top             : 238px;
    width           : 267px;
}
.mdr-left
{
    float           : left;
}
.mdr-right
{
    float           : right;
}

.mdr-hidden {
	display			: none;
}
#MDR_dcb, #MDR_TransactionsLink {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}
#MDR_dcb:hover, #MDR_footer a:hover {
    color: #005A8C;
}
#MDR_TransactionsLink
{
    color           : #333;
}
#MDR_TransactionsLink:hover
{
    color           : #999;
    border-bottom   : 1px solid #999;
}
#MDR_TransactionsLink:focus {outline:0;}
/*
	glDatePicker default style

	http://code.gautamlad.com/glDatePicker/
	https://github.com/glad/glDatePicker/
*/

/* Calendar container div */
.gldp-default
{
	float:left;
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif !important;
	background-color:#DBF0E3 !important;
	font-size:0.9em !important;
	border:solid 1px #EEF9F2;
}

/* Table style */
.gldp-default table
{
	border-spacing:1px;
	border-collapse:inherit;
}

/* Default row height */
.gldp-default tr
{
	line-height:22px;
}

/* Default style of cell */
.gldp-default td
{
	margin:0;
	padding:0;
	width:31px;
	text-align:center;
}

/* Previous and Next arrows */
.gldp-default-prevnext
{
	font-family:"times new roman";
	color:#262C26;
	cursor:pointer;
	font-weight:bold;
}

/* Month Year title */
.gldp-default-monyear
{
	color:#262C26;
	font-size:1.3em !important;
	font-weight:bold;
}

/* Days of the week (Sun, Mon, ...) */
.gldp-default-dow
{
	background-color:#44A671;
	color:#eee;
	font-size:1em !important;
	font-weight:bold;
}

/* Selectable days */
.gldp-default-day
{
	background-color:#fff;
	color:#262C26;
	border:solid 1px #fff;
	font-weight:bold;
}
.gldp-default-day-hover, .past-hover, .future-hover
{
	background-color:#fff;
	color:#E48701;
	border:solid 1px #E48701;
	cursor:pointer;
	font-weight:bold;
}

/* Selected days */
.gldp-default-selected
{
	background-color:#F8DEBA;
	color:#262C26;
	border:solid 1px #E48701;
}

/* Today */
.gldp-default-today
{
	background-color:#E48701;
	color:#fff;
	border:solid 1px #E48701;
	font-weight:bold;
}
.gldp-default-today-hover
{
	background-color:#fff;
	color:#E48701;
	border:solid 1px #E48701;
	cursor:pointer;
	font-weight:bold;
}

/* Weekends */
.gldp-default-sat, .gldp-default-sun
{
	background-color:#fff;
	color:#818D42;
	border:solid 1px #fff;
	font-weight:bold;
}
.gldp-default-sat-hover, .gldp-default-sun-hover
{
	background-color:#fff;
	color:#B8CA73;
	border:solid 1px #E48701;
	cursor:pointer;
	font-weight:bold;
}

/* Non-selectable day.  Includes:previous/next month days and days that fall in the allowOld and endDate conditions */
.gldp-default-noday, .gldp-default-day .past, .gldp-default-day .future
{
	background-color:#fff;
	border:solid 1px #fff;
	color:#bbb;
	cursor:default;
}
